[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL

#gtid:
server_id = 1
gtid_mode = on
enforce_gtid_consistency = on

#binlog
log_bin = mysql-binlog
log_slave_updates = on
binlog_format = row

#relay log
skip_slave_start = 1

# Custom config should go here
!includedir /etc/mysql/conf.d/